<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> 审批APP </title>
    <link rel="stylesheet" href="/static/plug/layui/css/layui.css">
</head>

<body link="#9933ff">
<script type="text/javascript" src="/static/plug/layui/layui.js"></script>

<form class="layui-form" action="">


<div class="layui-form-item">

<table class="layui-table">
    <colgroup>
        <!-- <col width="150">
        <col width="200">
        <col> -->
    </colgroup>
    <thead>
    <tr>
        <th>Name</th>
        <th>AppID</th>
        <th>Ower</th>
        <th>Create Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>        
        {{range $_,$Uapp := $.UserApps}}
        <tr>
            {{with $Uapp}}
                <td> {{.Name}} </a> </td>
                <td>{{.Id}}</td>
                <td>{{.Owner}}</td>    
                <td>{{.Createtime}}</td>     
                <td>                        
                    <div class="layui-input-block" lay-submit lay-filter="statusBlock">
                    <input type="radio" name="status" value="0"    title= "审核中"   {{if eq 0 .Authorize}}} checked {{end}} >
                    <input type="radio" name="status" value="1"    title= "启用"  {{if eq 1 .Authorize}}} checked {{end}} >
                    <input type="radio" name="status" value="-1"   title= "禁用"  {{if eq -1 .Authorize}}} checked {{end}}>
                    </div>                      
                </td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>



</form>

<script>
    var form = layui.form;
    layui.use(['form'], function(){        
        form.render();
    });

    //监听提交
    form.on('submit(statusBlock)', function(data){
        layer.msg(JSON.stringify(data.field));
        console.log("hello")
        return false;
    });

</script>


</body>
</html>